body {
  background-image: url("imgs/body_background.JPG");
  background-repeat: no-repeat;
  background-color: rgb(63, 61, 61);
  background-size: cover;
}
h2 {
    text-align: center;
    color: white;
    font-family: "Courier New";
}
p {
    font-family: "Courier New";
    color: white;
    font-size: 13px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}
footer {
    padding: 20px;
    clear: both;
    text-align: center;
    background-color: black;
}
h4 {
  color: white;
  font-family: "Courier New";
}
#cli-title {
  color: white;
  font-family: "Courier New";
  font-size: 40px;
  margin-top: 5%;
}
.col-sm-4 {
  max-width: 31.94%;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
}
.center-column {
  max-width: 31.94%;
  background-color: black;
  background-size: cover;
  border-radius: 8px;
}
.left-column {
  max-width: 31.94%;
  background-color: black;
  background-size: cover;
  border-radius: 8px;
  margin-right: 20px;
}
.right-column {
  max-width: 31.94%;
  background-color: black;
  background-size: cover;
  border-radius: 8px;
  margin-right: 0px;
  margin-left: 20px;
}
.top-left {
  background-color: black;
  background-size: cover;
  border-radius: 8px;
  margin-right: 10px;
  max-width: 48.95%;
  margin-bottom: 15px;
}
.top-right {
  background-color: black;
  background-size: cover;
  border-radius: 8px;
  margin-right: 0px;
  margin-left: 10px;
  max-width: 48.95%;
  margin-bottom: 15px;
}
.bottom-left {
  background-color: black;
  background-size: cover;
  border-radius: 8px;
  margin-right: 10px;
  max-width: 48.95%;
}
.bottom-right {
  background-color: black;
  background-size: cover;
  border-radius: 8px;
  margin-right: 0px;
  margin-left: 10px;
  max-width: 48.95%;
}
.col {
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
}
#burger {
  max-width: 50%;
  border-radius: 5%;
  margin-bottom: 2%;
}
#weather {
  max-width: 50%;
  border-radius: 5%;
  margin-bottom: 2%;
}
#schedule {
  max-width: 50%;
  border-radius: 5%;
  margin-bottom: 2%;
}
#notes {
  max-width: 50%;
  border-radius: 5%;
  margin-bottom: 2%;
}
#readme {
  max-width: 50%;
  border-radius: 5%;
  margin-bottom: 2%;
}
#emploi {
  max-width: 50%;
  border-radius: 5%;
  margin-bottom: 2%;
}
#builder {
  max-width: 50%;
  border-radius: 5%;
  margin-bottom: 2%;
}
#pitchit {
  max-width: 50%;
  border-radius: 5%;
  margin-bottom: 2%;
}
a {
  color: white;
}
a:hover {
  color: blanchedalmond;
}
a:link {
  text-decoration: none;
}
.top-left:hover {
  transform: scaleX(-1);
}
.top-right:hover {
  transform: scaleX(-1);
}
.bottom-left:hover {
  transform: scaleX(-1);
}
.bottom-right:hover {
  transform: scaleX(-1);
}
.basics:hover {
  transform: scaleX(-1);
}
h4:hover {
  transform: scaleX(-1);
}


@media screen and (max-width: 992px) {
  .center-column {
    max-width: 32%;
    background-color: black;
    background-size: cover;
    border-radius: 8px;
  }
  .left-column {
    max-width: 32%;
    background-color: black;
    background-size: cover;
    border-radius: 8px;
    margin-right: 15px;
    margin-left: 0px;
  }
  .right-column {
    max-width: 32%;
    background-color: black;
    background-size: cover;
    border-radius: 8px;
    margin-right: 0px;
    margin-left: 15px;
  }
  .top-left {
    background-color: black;
    background-size: cover;
    border-radius: 8px;
    margin-left: 0px;
    margin-right: 5px;
    max-width: 49.3%;
    margin-bottom: 15px;
  }
  .top-right {
    background-color: black;
    background-size: cover;
    border-radius: 8px;
    margin-right: 0px;
    margin-left: 5px;
    max-width: 49.3%;
    margin-bottom: 15px;
  }
  .bottom-left {
    background-color: black;
    background-size: cover;
    border-radius: 8px;
    margin-left: 0px;
    margin-right: 5px;
    max-width: 49.3%;
  }
  .bottom-right {
    background-color: black;
    background-size: cover;
    border-radius: 8px;
    margin-right: 0px;
    margin-left: 5px;
    max-width: 49.3%;
  }
  .container {
    max-width: 924px;
  }
  #burger {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #weather {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #schedule {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #notes {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #readme {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #emploi {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #builder {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 768px) {
  .center-column {
    max-width: 32.33%;
    background-color: black;
    background-size: cover;
    border-radius: 8px;
  }
  .left-column {
    max-width: 32.33%;
    background-color: black;
    background-size: cover;
    border-radius: 8px;
    margin-right: 10px;
  }
  .right-column {
    max-width: 32.33%;
    background-color: black;
    background-size: cover;
    border-radius: 8px;
    margin-right: 0px;
    margin-left: 10px;
  }
  .top-left {
    background-color: black;
    background-size: cover;
    border-radius: 8px;
    margin-left: 0px;
    margin-right: 5px;
    max-width: 49.28%;
    margin-bottom: 15px;
  }
  .top-right {
    background-color: black;
    background-size: cover;
    border-radius: 8px;
    margin-right: 0px;
    margin-left: 5px;
    max-width: 49.28%;
    margin-bottom: 15px;
  }
  .bottom-left {
    background-color: black;
    background-size: cover;
    border-radius: 8px;
    margin-left: 0px;
    margin-right: 5px;
    max-width: 49.28%;
  }
  .bottom-right {
    background-color: black;
    background-size: cover;
    border-radius: 8px;
    margin-right: 0px;
    margin-left: 5px;
    max-width: 49.28%;
  }
  .container {
    max-width: 700px;
  }
  #burger {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #weather {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #schedule {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #notes {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #readme {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #emploi {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #builder {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 693px) {
  .center-column {
    max-width: 100%;
  }
  .left-column {
    max-width: 100%;
  }
  .right-column {
    max-width: 100%;
  }
  .col-sm-4 {
    flex: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
  }
  .top-left {
    margin-right: 3px;
  }
  .top-right {
    margin-left: 3px;
  }
  .bottom-left {
    margin-right: 3px;
  }
  .bottom-right {
    margin-left: 3px;
  }
  #burger {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #weather {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #schedule {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #notes {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #readme {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #emploi {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #builder {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 476px) {
  .top-left {
    margin-left: 0px;
    margin-right: 3px;
    max-width: 49.2%;
    margin-bottom: 15px;
  }
  .top-right {
    margin-right: 0px;
    margin-left: 3px;
    max-width: 49.2%;
    margin-bottom: 15px;
  }
  .bottom-left {
    margin-left: 0px;
    margin-right: 3px;
    max-width: 49.2%;
  }
  .bottom-right {
    margin-right: 0px;
    margin-left: 3px;
    max-width: 49.2%;
  }
  img {
    max-width: 90%;
  }
  h4 {
    font-size: 18px;
  }
  .basics {
    font-size: 11px;
  }
  #burger {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #weather {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #schedule {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #notes {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #readme {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #emploi {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
  #builder {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
}